body {
	margin: 0;
	padding: 0;
	background: #333;
}

#gameframe {
	position: relative;
	top: 0;
	left: 0;
	background: white;
	display: block;
	margin: auto;
}

#loading {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	text-align: center;
	width: 400px;
	margin-left: -200px;
	margin-top: -100px;
	background: black;
	border-radius: 8px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #BDF;
}
